@page "/NavMenu" 

<style>
    .left{
        text-align: left;
        font-size: 50px;
        color: black;
        margin-left: 5%;
        width:80%;
        font-family: SigmarOne;
    }
    .right {
        font-size: 40px;
        color: black;
        margin-right: 5%;
        width: 10%;
        display: flex;
    }
    .heading{
        margin-top: 20px;
    }
    .navimage{
       width: 50%;
       text-align: right;
       margin-top:10.5px;
    }
</style>

<div class="left">
    <h4 class="heading">Xebec Application Portal</h4>
</div>
<div class="right">
    <div class="navimage">
        <i class="fa fa-bars"></i>
    </div>
    <div class="navimage">
        <i class="fa fa-user"></i>
    </div>

</div>
@code {

}
